<div class="visual-paginator" n:snippet="paginator">
  {if $paginator->pageCount > 1}
  <ul class="pagination">
    {if $paginator->isFirst()}
    <li class="disabled"><a>Předchozí</a></li>
    {else}
    <li><a n:href="this, 'page' => $paginator->page - 1" n:class="$useAjax ? ajax" rel="prev" title="Předchozí">Předchozí</a></li>
    {/if}
    {foreach $steps as $step}
    {if $step == $paginator->page}
    <li class="active"><a>{$step}</a></li>
    {else}
    <li><a n:href="this, 'page' => $step" n:class="$useAjax ? ajax">{$step}</a></li>
    {/if}
    {if $iterator->nextValue > $step + 1}<li class="disabled steps"><a>…</a></li>{/if}
    {/foreach}
    {if $paginator->isLast()}
    <li class="disabled"><a>Následující</a></li>
    {else}
    <li><a n:href="this, 'page' => $paginator->page + 1" n:class="$useAjax ? ajax" rel="next" title="Následující">Následující</a></li>
    {/if}
  </ul>
  {/if}
</div>